body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: gray;
    width: 960px;
    font-size: 18px;
    margin: 10px 250px;
}

header{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: gray; 
    background-color: lightgrey;
    margin: 10px 0px 10px 0px;
    border: 1px lightgrey;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
}

nav{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-color: lightgray;
    margin: 10px 0px;
    border: 1px lightgrey;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

section {
    box-sizing: border-box;
    float: left; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-color: lightgray;
    margin: 10px 10px 10px 0px;
    border: 1px lightgrey;
    padding-top: 30px;
    padding-right: 200px;
    padding-bottom: 28px;
    padding-left: 200px;
    width: 60%;
    height: 330px;

}

article {
    color: lightgrey;
    background-color:grey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px -190px -20px -190px;
    padding-top: 25px;
    padding-right: 200px;
    padding-bottom:120px;
    padding-left: 200px;

}

#p{
    color: grey;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px -180px -100px -180px;
    padding-top: 20px;
    padding-right: 170px;
    padding-bottom: 20px;
    padding-left: 170px;


}
#p2{ 
    color: grey;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 125px -180px -100px -180px;
    padding-top: 20px;
    padding-right: 170px;
    padding-bottom: 20px;
    padding-left: 170px;

}
 
aside{
    float:right; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-color: lightgray;
    border: 1px lightgrey;
    margin: 10px 0px 10px 0px;
    padding-top:30px;
    padding-bottom: 0px;
    height: 300px;
    width:38%;

      
}

footer {
    clear: both;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-color: lightgray;
    margin: 10px 0px 10px 0px;
    border: 1px lightgrey;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}


